<!DOCTYPE html>
<html lang="en">
<head>
    <title>SkillNest - Register</title>
    <meta charset="UTF-8">
    <meta name="description" content="WebUni Education Template">
    <meta name="keywords" content="webuni, education, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="/static/img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i"
          rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="/static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}"/>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="site-logo">
                    <img src="/static/img/logo.png" alt="">
                </div>
                <div class="nav-switch">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <a href="" class="site-btn header-btn">Login</a>
                <nav class="main-menu">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<section class="signup-section spad">
    <div class="signup-bg set-bg" data-setbg="img/signup-bg.jpg"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="signup-warp">
                    <div class="section-title text-white text-left">
                        <h2>Sign up</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris
                            scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus
                            finibus.</p>
                    </div>
                    <!-- signup form -->
                    <form th:action="@{/auth/register}" th:object="${register}" method="post" class="signup-form">
                        <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('firstName')}">
                            <p th:text="${error}"></p>
                        </div>
                        <input type="text" th:field="*{firstName}" placeholder="Your First Name">

                        <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('lastName')}">
                            <p th:text="${error}"></p>
                        </div>
                        <input type="text" th:field="*{lastName}" placeholder="Your Last Name">

                        <div th:if="${#fields.hasErrors('email')}" class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('email')}">
                            <p th:text="${error}"></p>
                        </div>
                        <input type="text" th:field="*{email}" placeholder="Your E-mail">

                        <div th:if="${#fields.hasErrors('password')}" class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('password')}">
                            <p th:text="${error}"></p>
                        </div>
                        <input type="password" th:field="*{password}" placeholder="Your Password">

                        <div th:if="${#fields.hasErrors('passwordConfirm')}" class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('passwordConfirm')}">
                            <p th:text="${error}"></p>
                        </div>
                        <input type="password" th:field="*{passwordConfirm}" placeholder="Confirm Password">

                        <button type="submit" class="site-btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-section spad pb-0">
    <div class="footer-top">
        <div class="footer-warp">
            <div class="row">
                <div class="widget-item">
                    <h4>Contact Info</h4>
                    <ul class="contact-list">
                        <li>1481 Creekside Lane <br>Avila Beach, CA 931</li>
                        <li>+53 345 7953 32453</li>
                        <li>yourmail@gmail.com</li>
                    </ul>
                </div>
                <div class="widget-item">
                    <h4>Engeneering</h4>
                    <ul>
                        <li><a href="">Applied Studies</a></li>
                        <li><a href="">Computer Engeneering</a></li>
                        <li><a href="">Software Engeneering</a></li>
                        <li><a href="">Informational Engeneering</a></li>
                        <li><a href="">System Engeneering</a></li>
                    </ul>
                </div>
                <div class="widget-item">
                    <h4>Graphic Design</h4>
                    <ul>
                        <li><a href="">Applied Studies</a></li>
                        <li><a href="">Computer Engeneering</a></li>
                        <li><a href="">Software Engeneering</a></li>
                        <li><a href="">Informational Engeneering</a></li>
                        <li><a href="">System Engeneering</a></li>
                    </ul>
                </div>
                <div class="widget-item">
                    <h4>Development</h4>
                    <ul>
                        <li><a href="">Applied Studies</a></li>
                        <li><a href="">Computer Engeneering</a></li>
                        <li><a href="">Software Engeneering</a></li>
                        <li><a href="">Informational Engeneering</a></li>
                        <li><a href="">System Engeneering</a></li>
                    </ul>
                </div>
                <div class="widget-item">
                    <h4>Newsletter</h4>
                    <form class="footer-newslatter">
                        <input type="email" placeholder="E-mail">
                        <button class="site-btn">Subscribe</button>
                        <p>*We don’t spam</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-warp">
            <ul class="footer-menu">
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
            <div class="copyright">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
        </div>
    </div>
</footer>
</body>
</html>